.mat-flat-button {
  color: #ffffff;
  width: 90%;
  margin: 5px;
}

.mat-icon {
  height: 30px;
  margin: 5px;
  float: right;
  color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  min-width: 100vh;
}

.leagues-list {
  flex: 1;
}

.league-table {
  flex: 4;

}

.mat-table {
  width: 80%;
}

.badge {
  width: 5%;
}

.rank-column {
  /*width: 10px;*/
}

.rank {
  /*align-content: center;*/
}


.mat-card {
  margin: 10px;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/

  border-style: solid;
  border-width: 1px;
  border-color: #3f50b4;
}


.mat-panel-description {
  text-align: left;
}

.key {
  white-space: nowrap;
}

.stadium-img {
  width: 100%;
  height: auto;
}
