.mat-menu-item {
  /*background-color: rgba(63, 79, 179, 0.7);*/
  border-radius: 5px;
  text-decoration: none;
  /*border-style: solid;*/
  /*border-color: #000000;*/
  /*border-width: 1px;*/
  font-size: 20px;
}

.title {
  padding: 25px;
  font-size: 100%;
}
