<p>
  <mat-toolbar color="primary">
    <button [matMenuTriggerFor]="menu" aria-label="Menu" class="example-icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{getTitle()}}</span>
  </mat-toolbar>
</p>

<mat-menu #menu="matMenu" class="mat-menu-content">
  <button mat-menu-item>
    <a (click)="setTitle('Home')" routerLink="/" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      Home</a>
  </button>
  <button mat-menu-item>
    <a (click)="setTitle('Tables')" routerLink="/tables" routerLinkActive="active">
      <mat-icon>toc</mat-icon>
      Tables</a>
  </button>
  <button mat-menu-item>
    <a (click)="setTitle('Team info')" routerLink="/team-info" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      Team info</a>
  </button>
  <button mat-menu-item>
    <a (click)="setTitle('Players info')" routerLink="/player-info" routerLinkActive="active">
      <mat-icon>contact_page</mat-icon>
      Players info</a>
  </button>
  <button mat-menu-item>
    <a (click)="setTitle('Countries')" routerLink="/country" routerLinkActive="active">
      <mat-icon>travel_explore</mat-icon>
      Countries</a>
  </button>
</mat-menu>
<router-outlet></router-outlet>
