<mat-drawer-container class="leagues-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="leagues-list">
      <div *ngFor="let league of leagues | async">
        <button class="league-button" (click)="clickedLeague = league; getTeamsDetailsByLeagueName(league)" color="primary"
                mat-flat-button>{{league.strLeague}}
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="toggle-closed">
    <button class="toggle-button" type="button" mat-button (click)="drawer.toggle()">
      <p *ngIf="drawer.opened === false" class="toggle-button-text">Competitions</p>
      <mat-icon *ngIf="drawer.opened === false" class="toogle-icon">arrow_forward_ios</mat-icon>
      <mat-icon *ngIf="drawer.opened === true" class="toogle-icon-reversed">arrow_forward_ios</mat-icon>
    </button>
  </div>
</mat-drawer-container>
